<mat-card class="table-card">
  <mat-card-content class="table-content">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="userId">
        <mat-header-cell *matHeaderCellDef>
          <app-search-table-header 
            [controlador]="filtroIdUsuario" 
            [nombre]="'Identificador Usuario'"
          ></app-search-table-header>
        </mat-header-cell>
        <mat-cell *matCellDef="let example">{{ example.userId }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>
          <app-search-table-header 
            [controlador]="filtroId" 
            [nombre]="'Id'"
          ></app-search-table-header>
        </mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let example">{{
          example.id
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>
          <app-search-table-header 
            [controlador]="filtroDescripcion" 
            [nombre]="'Descripcion'"
          ></app-search-table-header>
        </mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let example">{{
          example.title
        }}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
