<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-chip-list #chiplist>
      <mat-chip
        class="filters"
        (removed)="removeOption(option)"
        *ngFor="let option of exampleService.searchOption"
      >
        <span>{{option.title}}</span>
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        #autocompleteInput
        type="text"
        placeholder="Enter title"
        aria-label="Number"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
      />
      <mat-autocomplete [displayWith]="displayFn">
        <mat-option
          *ngFor="let option of autoCompleteList"
          [value]="option"
          (onSelectionChange)="option.title"
        >
        </mat-option>
      </mat-autocomplete>
    </mat-chip-list>
  </mat-form-field>
</form>
