.filter {
  width: 70%;
}

.column-header {
  color: #4282e3;
  width: 100%;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  padding-right: 5px;
  text-overflow: ellipsis;
}

.column-name {
  font-weight: bold;
}
